body{
    margin:0;
    font-family: "Salsa", cursive;
}

.hero{
    /* min-height: 100vh; */
    /* background-color: aqua; */
    background-image: url(images/hero-image.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.hero p {
    font-size: 46px;
    
    max-width: 550px;
    /* margin-left: 15rem; */
}

.para-audio{
    margin-left: 15rem;
}

audio::-webkit-media-controls-panel {
     background-color: #f08923;
     color: #000;
     }

.audio-container{
    background-color: #f08923;
    max-width: max-content;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px

}

.jhalar{
    width: 220px;
    margin-bottom: -190px;
}

.lakshmi-ganesh-section {
    background-color: #f08923;
    padding: 1px;
    padding-inline: 1rem;
}

.lakshmi-ganesh-pic{
    max-width: 900px;
    display: block;
    margin-inline: auto;
    width: 100%;

}

.horizontal-line{
    height: 2px;
    width: 468px;
    background-color: #f6d9b8;
}
.circle{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #f6d9b8;
    flex-shrink: 0;
}

.horizontal-divider{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-inline: auto;
    width: 810px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    justify-content: center;
}

h2{
    font-family:   "Style Script", cursive;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
}    

.white-card{
    background-color: #fff;
    max-width: 500px;
    padding: 4rem;
    border-radius: 24px;
    /* display: inline-block; */
}

.white-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.girl{
    width: 240px;
    margin-left: -5rem;
}

.white-card p{
    font-size: 2rem;
}

.lakshmi-ganesha-card{
    background-color: #fff;
     display: flex;
    /* display: inline; */ 
    border-radius: 24px;
    padding: 4rem;
    max-width: 722px;
    margin-inline: auto;


}

.lakshmi-ganesha-card img{
    width: 50%;
}

.thank-you {
    max-width: 900px;
    width: 100%;
    margin-inline: auto;
    /* padding-block: 1rem; */
    /* padding-left: 0; */
    /* padding-right: 8rem; */
    margin-bottom: 0;

}

.thank-you p{
    /* text-align: left; */
    text-align:left;
    margin-left: 25px;
}

.thank-you h2{
    text-align: left;

     
}

/* p{
    text-align: right;
} */


/* .lakshmi{
    width: 500px;
}

.ganesha{
    width: 500px;
} */

@media (width < 840px){
    .deepak1{
        display: block;
        margin-left: auto;
    }
    .deepak2{
        display: none;
    }

    .para-audio{
        margin-left: 1rem;
    }

    .jhalar{
        margin-bottom: 1rem;
    }

    .soulful-music{
        display: none;
    }

    .wave{
        display: none;
    }

    .lakshmi-ganesha-card{
        padding: 2rem;
    }

    .hero p {
        font-size: 32px;
        
        
    }

    .white-card p{
        font-size: 1.25rem;
    }

    .girl{
        width: 130px;
        
    }

    .white-card{
        /* background-color: #fff;
        max-width: 500px; */
        padding-block: 1rem;
        padding-left: 2rem;


        /* border-radius: 24px; */
        /* display: inline-block; */
    }
    

}

@media (width < 540px){
    .hero p {
        font-size: 24px;
        
        
    }
/* 
    .girl{
        padding-left: -1rem;
    } */

    .white-card p{
        font-size: 1rem;
    }

    .deepak1{
        width: 100%;
        max-width: 280px;
    }

    h2{
        font-size: 32px;
    }
}